title = "Genres"
url = "/genres/:slug"
layout = "moderna-layout-01"
is_hidden = 0

[builderDetails]
modelClass = "Devjosh\Movies\Models\Genre"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "genre_title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <h2>{{ attribute(record, displayColumn) }}</h2>

    <!-- {{ record.movies }} -->

    {% for movie in record.movies %}
		{{ movie.name }}
    {% endfor %}

{% else %}
    {{ notFoundMessage }}
{% endif %}